<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>TopSights</title>
		<link rel="stylesheet" href="/spectre.min.css">
		<link rel="stylesheet" href="/spectre-icons.css">
		<link rel="stylesheet" href="/spectre-icons.min.css">
		<link rel="stylesheet" href="/layout.css">
		<link rel="stylesheet" href="/faqs.css">

	</head>

	<body>

		<header class="navbar bg-dark">	
						
			<section class="navbar-section">
				<a href="/sights" class="btn btn-link">Sights</a>
				<a href="/faqs" class="btn btn-link">FAQs</a>
				<a href="/comments" class="btn btn-link">Comments</a>
			</section>
			<section class="navbar-center">
				<a href="/" class="navbar-brand mr-2 ">TopSights</a>
			</section>
			<section class="navbar-section">
				{{#unless session.isLoggedIn}}
					<a href="/login" class="btn btn-link">Login</a>
				{{/unless}}
				{{#if session.isLoggedIn}}
					<a href="/logout" class="btn btn-link">Logout</a>
				{{/if}}
			</section>
		
		</header>


		<body>
		
			{{{body}}}
		
		</body>
		
		<footer >
		
			&copy; Andreas Losing 2022 
			<a href="/about" class="btn btn-link">About</a>
			<a href="/contact" class="btn btn-link">Contact</a>
		
		</footer>

	</body>

</html>