<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TopSights</title>
	<link rel="stylesheet" href="/spectre.min.css">
	<link rel="stylesheet" href="/spectre-icons.css">
	<link rel="stylesheet" href="/spectre-icons.min.css">
	<link rel="stylesheet" href="/layout.css">

</head>

<body>

	<header class="navbar bg-dark">
		<section class="navbar-section">
			<a href="/sights" class="btn btn-link">Sights</a>
			<a href="/faq" class="btn btn-link">FAQ</a>
			<a href="/comments" class="btn btn-link">Comments</a>
		</section>
		<section class="navbar-center">
			<a href="/" class="navbar-brand mr-2 ">TopSights</a>
		</section>
		<section class="navbar-section">
			<a href="/about" class="btn btn-link">About</a>
			<a href="/contact" class="btn btn-link">Contact</a>
		</section>
	</header>

	{{{body}}}

	<footer>

		Copyright Andreas Losing

	</footer>

</body>

</html>