<div class="hero bg-gray margin">
	<div class="hero-body">
		<h1>About</h1>
		<p>This website shows you the most beautiful and best sights all over the world.</p>
		<p>In the <a href="/sights">SIGHTS</a> section you can see all listed sights of this website</p>
		<p>In the <a href="/faqs">FAQS</a> section you can read the most frequently asked questions and the corresponding answers.</p>
		<p>In the <a href="/comments">COMMENTS</a> section you can read the opinions of other users and also leave your own opinion by writing a comment.</p>
	</div>
</div>