
<h1 class="text-center">Create Sight</h1>
<form action="/sights/create" method="post">	
	<div>
		Name: <input type="text" name="name" placeholder="Name">
	</div>	
	<div>
		City: <input type="text" name="city">
	</div>
	<div>
		Country: <input type="text" name="country">
	</div>
    <div>
		Info: <textarea  type ="text" name="info" placeholder="Write something.." style="height:200px"></textarea>
	</div>	
	<input type="submit" value="Create">	
</form>


