<h1 class="text-center">Create FAQ</h1>
<form action="/faq/create" method="post">	
	<div>
		Question: <input type="text" name="question">
	</div>	
	<div>
		Answer: <textarea  name="answer" placeholder="Write answer.." style="height:200px"></textarea>
	</div>
	<input type="submit" value="Create">	
</form>