<h1 class="text-center">Create FAQ</h1>

{{#if errorMessages.length}}
	<div class="bg-primary">
		<p>Couldn't {{operation}} the FAQ because:</p>
		<ul>
			{{#each errorMessages}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
{{/if}}

<form action="/faqs/create" method="post">	
	<div>
		Question: <input type="text" name="question" value="{{question}}">
	</div>	
	<div>
		Answer: <textarea  name="answer" style="height:200px">{{answer}}</textarea>
	</div>
	<input type="submit" value="Create">	
</form>