<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        Username: <input type="text" name="username">
    </div>
    <div>
        Password: <input type="password" name="username">
    </div>
    <input type="submit" value="Login">
</form>