{{#if sight}}

	<h1>{{sight.name}}</h1>
	<h6>Location: {{sight.location}}</h6>
	<p>{{sight.info}}</p>
	<form action="/sight" method="delete">	
	<input type="submit" value="Delete">	
</form>

{{else}}

	<h1>Sight</h1>
	<p>That sight does not exist!</p>

{{/if}}