<h1>Sights</h1>

{{#if sights.length}}
<ul>
    {{#each sights}}
    <li> <a href="/sights/{{id}}">{{name}}</a>  (location: {{location}})</li>
    {{/each}}
</ul>

{{else}}
<p>We have no sights to recommend at the moment.</p>
{{/if}}

