<div class="hero bg-gray margin">
	<div class="hero-body">
		<h1>TopSights</h1>
		<p>Welcome at TopSights. Here you can find the best sights in Germany. Have fun exploring germany!</p>
	</div>
</div>


