<div class="hero bg-gray margin">
	<div class="hero-body">
		<h1>TopSights</h1>
		<p>Welcome at TopSights.</p>
		<p>Here you can find the best sights in the world.</p>
		<p>Have fun exploring the world!</p>
	</div>
</div>




