<div class="hero bg-gray">
	<div class="hero-body">
		<h1>TopSights</h1>
		<p>Welcome at TopSights. Here you can find the best sights in Germany. Have fun exploring germany!</p>
	</div>
</div>

<div class="accordion">
  <input type="radio" id="accordion-1" name="accordion-radio" hidden>
  <label class="accordion-header" for="accordion-1">
    Title 1
  </label>
  <div class="accordion-body">
    Test<!-- Accordions content -->
  </div>
</div>

<div class="accordion">
  <input type="radio" id="accordion-2" name="accordion-radio" hidden>
  <label class="accordion-header" for="accordion-2">
    Title 2
  </label>
  <div class="accordion-body">
    Test <!-- Accordions content -->
  </div>
</div>
