<h1>Update Sight</h1>
<form method ="POST" enctype="multipart/form-data">
	<div>
		<div>
			Name: <input type="text" name="name" value="{{sight.name}}">
		</div>
		<div>
			City: <input type="text" name="city" value="{{sight.city}}">
		</div>
		<div>
			Country: <input type="text" name="country" value="{{sight.country}}">
		</div>
		<div>
			Info: <textarea  type="text" name="info"  style="height:200px">{{sight.info}}</textarea>
		</div>
		<div>
			Upload image: <Input  type ="file" name="image" >
		</div>
			<input type="submit" value="Update">
	</div>
</form>