<h1>Update Sight</h1>
<form method ="POST">
	<div>
		<div>
			Name: <input type="text" name="name" value="{{sight.name}}">
		</div>
		<div>
			Location: <input type="text" name="location" value="{{sight.location}}">
		</div>
		<div>
			Info: <input type="text" name="info" value="{{sight.info}}">
		</div>
			<input type="submit" value="Update">
	</div>
</form>