<h1>Update Comment</h1>
<form method ="POST">
	<div>
		<div>
			Author: <input type="text" name="name" value="{{comment.author}}">
		</div>
		<div>
			Headline: <input type="text" name="location" value="{{comment.headline}}">
		</div>
		<div>
			Comment: <input type="text" name="info" value="{{comment.comment}}">
		</div>
		<div>
			Rating: <input type="number" name="info" value="{{comment.rating}}">
		</div>
			<input type="submit"  value="Update">
	</div>
</form>