<h1>Update Sight</h1>
<form method ="POST">
	<div>
		<div>
			Name: <input type="text" name="name" value="{{sight.name}}">
		</div>
		<div>
			City: <input type="text" name="city" value="{{sight.city}}">
		</div>
		<div>
			Country: <input type="text" name="country" value="{{sight.country}}">
		</div>
		<div>
			Info: <input type="text" name="info" value="{{sight.info}}">
		</div>
			<input type="submit" value="Update">
	</div>
</form>