<h1>Update FAQ</h1>

{{#if errorMessages.length}}
	<div class="bg-primary">
	<p>Couldn't {{operation}} the FAQ because:</p>
	<ul>
		{{#each errorMessages}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
	</div>
{{/if}}

<form method ="POST">
	<div>
		<div>
			Question: <input type="text" name="question" value="{{faq.question}}">
		</div>
		<div>
			Answer: <textarea  type="text" name="answer"  style="height:200px">{{faq.answer}}</textarea> 
		</div>
		<input type="submit" value="Update">
	</div>
</form>